<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./index.css">
    <script src="./axios.js"></script>
    <script src="./vue.js"></script>
</head>

<body>

<div id="app">
    <div class="username">
        <input type="text" placeholder="用户名" v-model="name">
    </div>
    <div class="mail">
        <input type="text" placeholder="邮箱" v-model="mail">
    </div>
    <div class="upload-btn" @click="handleUpload">上传</div>
    <div class="show-btn" @click="handleShow">显示人物信息</div>
    <button @click="handleCancelGet">取消get请求</button>
    <ul class="person-list" v-if="personList.length">
        <li class="person" v-for="person in personList">
            <span>{{ person.name }}</span>
            <span>{{ person.mail }}</span>
        </li>
    </ul>
</div>

<script>
    axios.defaults.baseURL = 'https://developer.duyiedu.com/vue';

    //请求拦截器
    // axios.interceptors.request.use(config => {
    //     console.log(config);
    //     config.method = 'post';
    //     config.url = '/setUserInfo';
    //     return config;
    // }, error => { //请求发出前的错误
    //     alert('xxxx');
    //     return Promise.reject(error);
    // });

    //响应拦截器
    axios.interceptors.response.use( response => {
        // console.log(response);
        if (response.status === 200) {
            return response.data;
        } else {

        }
    }, error => {
        if (error.response) {

        } else if (error.request) {

        }
        console.log(error.request);
        console.log(error.response);
        return Promise.reject(error);
    });

    //移除拦截器
    const interceptor = axios.interceptors.response.use(response => {
        // console.log(response);
        if (response.status === 200) {
            return response.data;
        } else {

        }
    });
    axios.interceptors.response.eject(interceptor);

    //为axios实例添加拦截器
    const instance = axios.create();
    instance.interceptors.request.use();

    ////////////////////////////////////////////

    //取消请求
    const source = axios.CancelToken.source();

    const vm = new Vue({
        el: '#app',
        data: {
            name: '',
            mail: '',
            msg: '',
            personList: []
        },
        methods: {
            handleUpload() {

            },
            handleShow() {
                axios.get('/getUserInfo', {
                    cancelToken: source.token
                }).then(res => {
                    console.log(res);
                }).catch(error => {
                    // console.log(error);
                    // const msg = error.message;
                    // alert(msg);

                    //错误处理

                    // error.request //请求时出现错误
                    // error.response //响应时出现错误

                    // if (error.response) {
                    //     console.log('响应时出现错误');
                    // } else if (error.request) {
                    //     console.log('请求时出现错误');
                    // } else {
                    //     console.log('请求未发出');
                    // }

                    if (error.response) {
                        const {status} = error.response;
                        switch (status) {
                            case 404:
                                alert('url地址错误');
                                break;
                            case 404:
                                alert('xxx');
                                break;
                        }
                    } else if (error.request) {
                        console.log('请求时出现错误');
                    } else {
                        console.log(error.message);
                    }
                })
            },
            handleCancelGet() {
                source.cancel('取消请求了，不想发送了');
            }
        },
        watch: {
            msg() {
                if (this.msg === '') {
                    return;
                }
                alert(this.msg);
                this.msg = '';
            }
        }
    });
</script>
</body>

</html>